.box1{
    background-color: #9B51FF;
}
.box2{
    background-color: #F251FF;
}
.box3{
    background-color: #FF9B51;
}
.box4{
    background-color: #51FF9B;
}
.box5{
    background-color: #515EFF;
}

.grid-container {
    display: grid;
}

.page_container{
    width:auto;
    height: 75px;
    padding-left: 20%;
    padding-right: 20%;
}

.nav-item{
    margin-left: 10px;
    margin-right: 10px;
}

#nav_logo{
    margin-right: 50px;
}